.DS_Store

latex/arxiv/caspaxos.aux
latex/arxiv/caspaxos.log
latex/arxiv/caspaxos.out
latex/arxiv/caspaxos.blg
latex/arxiv/caspaxos.bbl
latex/arxiv/caspaxos.vtc
latex/arxiv.tar

latex/disc/disc.aux
latex/disc/disc.log
latex/disc/disc.out
latex/disc/disc.blg
latex/disc/disc.vtc
latex/disc/disc.bbl