lipics-v2018/
style/
latex/caspaxos.aux
latex/caspaxos.log
latex/caspaxos.out
latex/caspaxos.blg
latex/caspaxos.bbl

latex/disc18.aux
latex/disc18.log
latex/disc18.out
latex/disc18.blg
latex/disc18.bbl

.DS_Store
latex/arxiv.tar

latex/disc/disc.aux
latex/disc/disc.log
latex/disc/disc.out
latex/disc/disc.blg
latex/disc/disc.vtc
latex/disc/disc.bbl